.reviews {
  padding: 40px 0;

  @include vp-768 {
    padding: 60px 0;
  }

  @include vp-1366 {
    padding: 100px 0;
  }
}

.reviews__container {
}

.reviews__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: $base-primary;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;

  @include vp-768 {
    font-weight: 600;
    font-size: 54px;
    line-height: 100%;
    margin-bottom: 35px;
  }

  @include vp-1366 {
    margin-bottom: 75px;
  }
}

.reviews__slider {
  position: relative;
}

.reviews__button-prev {
  left: -15px;

  @include vp-768 {
    left: -21px;
  }

  @include vp-1366 {
    left: 175px;
  }
}

.reviews__button-next {
  right: -15px;

  @include vp-768 {
    right: -21px;
  }

  @include vp-1366 {
    right: 175px;
  }
}

.reviews__button-prev,
.reviews__button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include vp-768 {
    z-index: 100;
  }
}

.reviews__swiper {
  @include vp-768 {
    width: 500px;
  }

  @include vp-1366 {
    width: 560px;
  }
}

.swiper-reviews {
}

.swiper-wrapper {
}

.reviews__swiper-wrapper {
}

.list-reset {
}

.swiper-slide {
}

.reviews__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-card {
}

.reviews__content {
  width: 240px;
  background-color: $additional-buttons;
  color: $base-white;
  font-family: $secondary-font;
  text-align: center;
  padding: 30px 25px;

  @include vp-768 {
    width: 500px;
    display: flex;
    gap: 40px;
    padding: 40px 30px;
  }

  @include vp-1366 {
    width: 560px;
    padding: 60px;
    gap: 30px;
  }
}

.reviews__photo-wrapper {
  margin-bottom: 10px;
  flex-shrink: 0;
}

.reviews__photo {
}

.reviews__text-wrapper {
}

.reviews__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  margin: 0;
  margin-bottom: 16px;

  @include vp-768 {
    text-align: left;
    font-size: 22px;
    line-height: 100%;
    margin-bottom: 20px;
  }
}

.reviews__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  margin: 0;

  @include vp-768 {
    text-align: left;
    font-size: 16px;
    line-height: 150%;
  }
}
