.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .page-body__hero,
  .page-body__footer {
    flex-shrink: 0;
  }

  .page-body__main {
    flex-grow: 1;
  }
}
