.btn {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: $additional-buttons;
  padding: 10px;
  align-self: flex-start;

  &::after {
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    background-color: $additional-buttons;
  }

  @include hover {
    opacity: 0.8;

    &::after {
      opacity: 0.8;
    }
  }

  @include focus {
    outline: 1px solid $additional-buttons;

    &::after {
      display: none;
    }
  }

  @include disabled {
    opacity: 0.3;
  }

  &--special {
    color: $base-white;

    &::after {
      background-color: $base-white;
    }

    @include vp-768 {
      margin: 0;
    }

    @include focus {
      outline: 1px solid $base-white;

      &::after {
        display: none;
      }
    }

    @include disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
